  //- coat.pug
  extend fluffy.pug

  block content
    h2 Fluffy's Sexy Coat
    p His coat brings all the little pugs to the yard. Dazzling, radiant, you name it, Fluffys' got it.
    a(href="okcupid.com/fluffy") Check Fluffy out on Okcupid ;)
	